storage: none

source https://nuget.org/api/v2
source https://api.nuget.org/v3/index.json

nuget FSharp.Core redirects: force
nuget SliceMap

group Solvers

  source https://api.nuget.org/v3/index.json

  nuget OPTANO.Modeling ~> 3
  nuget OPTANO.Modeling.Gurobi ~> 9
  nuget Google.OrTools ~> 8


group Tooling

  source https://nuget.org/api/v2
  source https://api.nuget.org/v3/index.json

  nuget Fake.IO.FileSystem ~> 5
  nuget FSharpLint.Core ~> 0
  
  nuget Microsoft.NET.Test.Sdk ~> 16
  nuget Meziantou.MSBuild.InternalsVisibleTo
  
  nuget coverlet.collector ~> 1
  nuget FsCheck ~> 2
  nuget FsCheck.Xunit ~> 2
  nuget xunit ~> 2
  nuget xunit.runner.visualstudio ~> 2
  nuget SliceMap

group Examples

  source https://nuget.org/api/v2
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Data ~> 3

  nuget MathNet.Numerics.FSharp
  nuget SliceMap

  nuget NativeLibraryLoader storage: on

group FakeBuild

  source https://api.nuget.org/v3/index.json

  nuget Fake.Core.Target ~> 5
  nuget Fake.Core.ReleaseNotes ~> 5
  nuget Fake.DotNet.AssemblyInfoFile ~> 5
  nuget Fake.DotNet.Cli ~> 5
  nuget Fake.DotNet.MSBuild ~> 5
  nuget Fake.DotNet.Paket ~> 5
  nuget Fake.IO.FileSystem ~> 5
  nuget Fake.JavaScript.Yarn ~> 5
  nuget Fake.JavaScript.Npm ~> 5
  nuget Fake.Tools.Git ~> 5
  nuget FSharp.Json ~> 0
  nuget FSharpLint.Core ~> 0
  nuget NuGet.Packaging 5.6
