name: Dev Release

on:
  workflow_run:
    workflows: [".NET Core"]
    branches: [ dev ]
    types:
      - completed

jobs:
  publish-nuget:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Build solution and generate NuGet Package
      run: sudo bash build.sh -t Nuget
    - name: Push with dotnet
      run: dotnet nuget push bin/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json